kind: joined
id: {{ stream_id }}  # format: domain.dataset.(variant)
# cadence: ${group_by}          # optional per-contract cadence
inputs:
  - {{ inputs_list }}

join:
  primary: {{ primary_key }}
  on: time
  mode: inner
{% if broadcast_keys %}
  broadcast:
{% for key in broadcast_keys %}
    - {{ key }}
{% endfor %}
{% else %}
  broadcast: []
{% endif %}

mapper:
  entrypoint: {{ mapper_entrypoint }}
  args: {}
