id: {{ stream_id }}  # format: domain.dataset.(variant)

from:
  align:
{{ input_streams | to_yaml(indent=4) }}

combine:
  entrypoint: {{ combine_entrypoint }}
  args: {}

# feature_id_by: []  # list only; requires inherited partition fields in sample.keys
# ordered_by: [partition_field, time]  # list only; inherited partition order + time
# stream: []
