id: {{ stream_id }}  # format: domain.dataset.(variant)
# cadence: ${group_by}          # optional per-stream cadence
from:
  join:
    {{ inputs_list }}
  primary: {{ primary_key }}
  "on": time
  mode: inner

map:
  entrypoint: {{ mapper_entrypoint }}
  args: {}
