id: {{ stream_id }}  # format: domain.dataset.(variant)

from:
  stream: {{ upstream_stream }}

# cadence: ${group_by}          # optional per-stream cadence
# partition_by: <field or [fields]>
# feature_id_by: []  # requires partition_by fields in dataset sample.keys

stream:
  - operation: dedupe
#   - { operation: lag, field: close, to: close_lag_1, periods: 1 }
#   - { operation: lead, field: close, to: close_lead_126, periods: 126 }
#   - { operation: ensure_cadence, cadence: "${cadence}" }
#   - { operation: collapse, keep: last }
#   - { operation: fill, field: some_field, statistic: median, window: 6, min_samples: 1 }
#   - { operation: forward_fill, field: some_field, to: some_field_asof }
