id: {{ stream_id }}  # format: domain.dataset.(variant)

from:
  source: {{ source }}

map:
  entrypoint: {{ mapper_entrypoint }}
  args: {}

# partition_by: [field]  # list only; time is reserved
# feature_id_by: []  # list only; requires partition fields in dataset sample.keys

record:                              # record-level transforms
  - { operation: where, field: time, operator: ge, comparand: "${start_time}" }
  - { operation: where, field: time, operator: le, comparand: "${end_time}" }
  - { operation: floor_time, cadence: "${group_by}" }
#   - { operation: shift_time, by: -10m }
