id: {{ stream_id }}  # format: domain.dataset.(variant)

from:
  source: {{ source }}

map:
  entrypoint: {{ mapper_entrypoint }}
  args: {}

cadence: ${group_by}                # optional per-ingest cadence
# partition_by: <field or [fields]>
# feature_id_by: []
# sort_batch_size: 100000              # in-memory sort chunk size

record:                              # record-level transforms
  - where: { field: time, operator: ge, comparand: "${start_time}" }
  - where: { field: time, operator: le, comparand: "${end_time}" }
  - floor_time: { cadence: "${cadence}" }
#   - shift_time: { by: -10m }
